$colorBackgroundHUD: #222222;
$colorBackgroundToolbar: #2C2C2C;
$colorBlack30: rgba(0, 0, 0, 0.3);
$colorSpecialWhite2: rgba(255, 255, 255, 0.2);
$colorSpecialWhite4: rgba(255, 255, 255, 0.4);
$colorSpecialBlack1: rgba(0, 0, 0, 0.1);
$colorDark: #333;
$colorBlue: #18A0FB;
$colorBlueLight: #C8E8FE;
$backgroundColor: $colorBackgroundToolbar;
$caretColor: $colorBlue;