// SETTINGS
@import "settings/settings.global";
@import "settings/settings.colors";

// TOOLS
@import "tools/tools.mixins";

// ELEMENTS
@import "elements/elements.page";

// COMPONENTS
@import "components/components.actions";
@import "components/components.list";
@import "components/components.layer-search-view";

[contenteditable=true]:empty:before {
    color: lighten($backgroundColor, 15%);
    content: attr(placeholder);
    display: block;
}

.d-none {
    display: none;
}

.hint {
    color: $colorSpecialWhite2;
    font-size: .625rem;
    line-height: 1.5rem;
    margin-left: 16px;
}